{% extends 'teacher_base.html' %}
{% block content %}
<h3>Select examination term:</h3>
<form id="term_form">
    <select name="term" id="term_select">
        {% for term in terms%}
            <option name="term_option" value="{{term.pk}}">{{term}}</option>
        {% endfor%}
    </select>
    <input type="submit" value="Confirm">
</form>
<hr>
<div id="exams_select_div" hidden>
    <h3>Select exam to mark:</h3>    
    <form id="exam_form">
        <select name = 'exam' id="exam_select">
    
        </select>
        <input type="submit" value="Confirm">
    </form>
    <div id="entryfield">
    </div>
</div>
{% endblock %}    
    
{% block title%} | Select course{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#exam_form").submit(function(event){
        event.preventDefault();
        exam_id = $("#exam_select").val();

        $.ajax({
            url: "{% url 'teacher:examsAjax'%}",
            data: {'exam_id':exam_id},
            success: function (data) {
                $("#entryfield").html(data);
            }
        })
    })
    
    $("#term_form").submit(function(event){
        event.preventDefault();
        term_id=$("#term_select").val();
        
        $.ajax({
            url: "{% url 'teacher:loadExamsAjax' %}",
            data: {'term_id':term_id},
            success: function(data){
                $("#exams_select_div").removeAttr('hidden')
                $("#exam_select").html(data)
            }
        })
        
    })
</script>
{% endblock %}
