{% extends 'student_base.html' %}

    {% block content%}
        <form class = "form-group" id="form">
            <label for = "entry-field">Enter subject course: </label>
            <input type ="text" id="entry-field" placeholder="Subject code">
            <input type ="submit" value="Confirm">
        </form>

        <div id="entryfield"></div>
    {% endblock %}
    
    {% block title%}| Add Course{% endblock %}

    {% block javascript %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#form").submit(function(event){
        event.preventDefault();
        search_string = $("#entry-field").val();

        $.ajax({
            url: "{% url 'student:addAjax'%}",
            data: {'search_string':search_string},
            success: function (data) {
                $("#entryfield").html(data);
            }
        })
    })
    
</script>
{% endblock %}
