{% extends 'student_base.html'%}
    {% block content%}
    
    <form id = "semester-form">
        <div class="row" class="mb-3">
            {% csrf_token %}
            <label for "select_sem">Select semester:</label>
            <select id="select_sem" class="form-select form-select-lg mb-3" >
            {% for semester in semesters%}
                <option value ='{{semester}}'> {{semester}} </option>
            {% endfor %}
        </select>
        
        </div>
    </form>

     <div class="container" id="results"> 
        <hr>
        <h5>Select semester to view grades.</h5>
        <hr>

     </div>
{% endblock %}

{% block javascript %}

<script>
    $("#select_sem").change(function(){
        semester = $(this).val();

        $.ajax({
            url: "{% url 'student:postGrades'%}",
            data: {'semester':semester},
            success: function (data) {
                $("#results").html(data);
            }
        })
    })
    
</script>
{% endblock %}

{% block title%}| Check Score{% endblock %}