{% extends 'student_base.html' %}
{% block content %}
<div class="invoice p-3 mb-3" id="application_form">
    <!-- title row -->
    <div class="row">
        <div class="col-2">
            <h4>
                <i class="fas fa-globe"></i> Logo
        </div>

        <div class="col-8">
            <h5 class="text-center">
                Mid-Western University
            </h5>

            <h4 class="text-center">
                Examinations Management Office
            </h4>

            <h6 class="text-center">
                Surkhet, Nepal
            </h6>

            <h5 class="text-center">
                Examination Application Form
            </h5>
            
        </div>

        <div class="col-2">
            <h4 class="text-center">
                <i class="fas fa-globe"></i> Photo
            </h4>
        </div>
          
        </h4>
      
      <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row student-info">
      <div class="col-12 student-col">
        Faculty:
      </div>
    </div>

    <div class="row college-info">
      <div class="col-12 college-col">
        Name of campus:
      </div>
    </div>

    <div class="row level-info">
        <div class="col-4 level-col">
            Level:
        </div>

        <div class="col-4 level-col">
            Semester:
        </div>

        <div class="col-4 level-col">
            Exam Centre:
        </div>
    </div>

    <div class="row row4-info">
        <div class="col-4 row4-col">
            Form Serial No:
        </div>

        <div class="col-4 row4-col">
            Sex:
        </div>
    </div>
    
    <div class="row row5-info">
        <div class="col-12 row5-col">
          Student id:
        </div>
    </div>

    <div class="row row6-info">
        <div class="col-12 row6-col">
          Full Name:
        </div>
    </div>

    
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
      <div class="col-12 table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
                <th>S.N.</th>
                <th>Exam Code</th>
                <th>Subject</th>
                <th>Regular/Chance</th>
            </tr>
          </thead>
          <tbody>
          
          </tbody>
        </table>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    

    <!-- this row will not appear when printing -->
    <div class="row no-print">
      <div class="col-12">
        <button class="btn btn-default" id="print_button"><i class="fas fa-print"></i> Print</a></button>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
  <script>
      $("#print_button").click(function(event){
        //event.preventDefault();
        $(".to-hide").toggle();
        print();
        $(".to-hide").toggle();
      })

  </script>
{% endblock %}