{% extends 'student_base.html'%}
{% block content %}

<form id = "semester-form">
    <div class="row" class="mb-3">
        {% csrf_token %}
        <label for "select_sem">Select semester:</label>
        <select id="select_sem" class="form-select form-select-lg mb-3" >
        {% for semester in semesters%}
            <option value ='{{semester}}'> {{semester}} </option>
        {% endfor %}
    </select>
    
    </div>
</form>

    <div id="routine">
        <h4>Select semester to view routine.</h4>
    </div>



{% endblock %}

{% block name%}
{{ student.student_name}}
{% endblock %}

{% block javascript %}
<script> 
    $("#select_sem").change(function(){
        semester = $(this).val();

        $.ajax({
            url: "{% url 'student:show_routine'%}",
            data: {'semester':semester},
            success: function (data) {
                $("#routine").html(data);
            }
        })
    })
    
</script>
{% endblock %}