{% extends 'student_base.html'%}
{% block content %}

{% if courses %}
    <table class="table table-hover">
        <thead class="thead thead-dark">
            <tr>
                <th>Course</th>
                <th>Teacher</th>
            </tr>
        </thead>
        {% for course in courses%}
        <tr>
            <td>{{course.subject_id.subject_name}}</td>
            <td>{{course.subject_id.teacher_id.teacher_name}}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}

{% block name%}
{{ student.student_name}}
{% endblock %}